   .bar {
     cursor: pointer;
     opacity: 0.7;
   }

   .bar:hover {
     opacity: 1;
   }

   axis text,
   .slider text {
     font-size: 18px;
   }

   .axis text {
     fill: red;
   }

   .slider text {
     fill: green;
   }

   .title {
     font-size: 24px;
     font-weight: bold;
     text-anchor: middle;
   }

   body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     /* display: flex; */
     min-height: 100vh;
   }

   #sidebar {
     width: 250px;
     background-color: #333;
     color: white;
     padding: 20px;
   }

   #navbar {
     background: linear-gradient(to right, #4e54c8, #8f94fb);
     color: white;
     padding: 10px;
     width: 100%;
   }